body {
    margin: 0;
    position: relative;
  }

  /* Style the header */
.header {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
  }

  /* The navbar container */
.topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  #cart {
      float: right;
  }
  
  /* Navbar links */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Links - change color on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  /* styles buttons */
.bannernavbutton {
    height: auto;
    width: auto;
    border: solid 1px black;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    background-color: lightgray;
    font-weight: bold;
}

/* Removes border from buttons after clicking */
.bannernavbutton:focus {
  outline: 0;
}

.slideshow {
    border: solid 1px black;
    display: flex;
    width: 80vw;
    flex-wrap: nowrap;
    overflow: hidden;
    height: 400px;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin: auto;
    border-radius: 5px;
}

.slideshow .slide {
    border: solid 1px green;
    flex-basis: 33.33%;
    flex: 1 0 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slideshownav {
    justify-content: space-between;
    display: flex;
    position: absolute;
    width: 100%;
    margin-top: -250px;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.leftbutton {
    margin-left: 30px;
}

.rightbutton {
    margin-right: 30px;
}

h1, .description {
    text-align: center;
}

.description {
    width: 80vw;
    margin: auto;
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
    background-color: lightgray;
}


.basketball {
  text-align: center;
  height: 90%;
}


/*--------------------------- Footer Stylings ------------------------------------------*/
/* Style the footer */
.footer {
  background-color: #333;
  color: #f2f2f2;
  padding: 10px;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  margin-top: 10%;
}

/* Style all font awesome icons */
.fa {
  padding: 5px;
  font-size: 30px;
  width: 20px;
  height: 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  margin: 5px;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.slide {
  text-align: center;
  padding: 0;
  vertical-align: auto;
}

@media (max-width: 800px) {
  /* Navbar links */
  .topnav a {
  float: none;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  }
  #cart {
      float: none;
  }    
}


